generated/
api_doc/
data/

*~
############
## Windows
############

# Windows image file caches
Thumbs.db


#############
## Python
#############

*.py[co]

# Mac OS X .DS_Store files
.DS_Store
demo/touch/main.min.js
demo/client/main.min.js