body
{
	background: rgba(76,109,131,0.7);
	padding: 0px;
	margin: 0px;
}

/******************************************************
    [ HEADER ]
*******************************************************/

#header
{
 	#background: white;
	margin-bottom: 15px;
	padding: 0px;
	box-shadow: 0.3em 0.3em 0.9em black;
	/*-moz-box-shadow: 0.3em 0.3em 0.9em black;*/
}

/******************************************************
    [ MENU ]
*******************************************************/

.sidebar
{
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 10px;
	padding: 0px;
	margin: 5px;
	width: 250px;
	background: rgba(76,109,131,0);
}

#accordion
{
	box-shadow: 0.3em 0.3em 0.9em black;
}

#flyTo input
{
	display: inline;
}

.ui-widget-content
{
	opacity: 0.9;
}

#poiMenu 
{
	margin: 0px;
	padding: 0px;
}

#poiMenu  ul
{
	margin: 0px;
	padding: 0px;
}

#poiMenu  li
{
	list-style-type:none;
	cursor: pointer;
	text-align: center;
	background: white;
	padding: 6px;
	opacity: 0.7;
}

#poiMenu  li:hover
{
	background: rgb(102,128,160);
	color: white;
	opacity: 0.7;
}

.input-menu
{
	background: white;
	padding: 6px;
	opacity: 0.7;
}

/******************************************************
    [ CANVAS ]
*******************************************************/

#webGLNotAvailable
{
	width: 1024;
	height: 768; 
	padding-top: 300px;
	text-align: center;
	display: none;
}

.fps
{
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	background-color: rgb(255,255,255);
	opacity: 0.8;
	border-radius: 5px;
	padding: 5px;
	left: 20px;
	bottom: 10px;
}

.logos
{
	position: absolute;
	z-index: 1;
	border: 1px solid black;
    background-color: rgb(255,255,255);
	opacity: 0.80;
	border-radius: 5px;
	padding: 5px;
	right: 20px;
	bottom: 10px;
}

.canvas
{
#	position: relative;
	width: 100%;
	height: 100%;
#	float: left;
}
